// _banner.scss
.banner {
  background-image: url(./assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  height: calc(100vh - $height-header);
  @media (max-width: $tablet) {
    min-height: auto;
    height: 320px;
  }
  @media (max-width: $mob) {
    background-image: url(./assets/images/windows.jpg);
    height: 500px;
  }
  &__wrapper {
    position: relative;
  }
  &__title {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    position: absolute;
    top: 100px;
    @media (max-width: $tablet) {
      font-size: 36px;
      line-height: 50px;
      top: 30px;
    }
    @media (max-width: $mob) {
      font-size: 30px;
      top: 70px;
    }
  }
  
}
