// BUTTON
.button {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $c-gold;
  background-color: $c-tr;
  margin: 0 auto;
  display: flex;
  cursor: pointer;
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: $c-gray;
  }
}
