mixin info(className,src)
  section.info(class=className)
    .info__gallery
      img.info__image(src=src, alt="")
    .info__caption
      span.info__sub-title Technology, Interface Design
      h4.info__title Using UX Design to Build a Sustainable Future
      span.info__data 6 May, 2020
      p.info__description Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our<span> influence to drive this.</span>
        +arrow