mixin menu()
  nav.menu
    ul.menu__list
      li.menu__item
        a.menu__link.js-link(href="#") home
      li.menu__item
        a.menu__link.js-link(href="#") about
      li.menu__item
        a.menu__link.js-link(href="#") works
      li.menu__item
        a.menu__link.js-link(href="#") blog
      li.menu__item
        a.menu__link.js-link(href="#") contact