:root {
  --black: #2f281e;
  --white: #fff;
  --orange: #ff9900;
  --silver: #BCD0E5;
  --tr: transparent;
  --violet: #7752BE;
  --yellow: #FAB005;
  --red: #F03E3D;
  --blue: #4DADF7;
  --dark: #544837;
}