// COLORS
$c-white: #fff;
$c-black: #333;
$c-gold: #FFCC00;
$c-light: #ccc;
$c-light-gray: #898F8F;
$c-gray: #666;
$c-tr: transparent;
// FONT SIZE

$fs-base: 16;

$ff-base: Raleway;
$ff-second-f: Roboto;
$ff-ths-f:  ;