// COLORS

$c-black: #1c1c1c;
$c-white: #fff;
$c-light: #e5e5e5;
$c-light-grey: #e4e4e4;
$c-grey: #969696;
$c-dark-grey: #545454;
$c-tr: transparent;
$c-blue: #007BFF;
$c-red: #ff0000;
//FONTS

$f-s: 16;
$f-f: 'Roboto', sans-serif;

//TRANSITION

$transition: .35s cubic-bezier(0.4, 0, 0.2, 1);