:root {
  --white: #fff;
  --blue: #3399cc;
  --light-blue: #2b81ac;
  --purple: #33cccc;
}

@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("../font/lucidasansunicode.ttf") format("woff2");
}

* {
  /* border: 1px solid; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Sans Unicode";
  color: var(--white);
  background-color: var(--blue);
  border: 25px solid var(--light-blue);
}
/* * WEATHER */
.weather {
  padding-top: 40px;
}
.weather-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* WEATHER TITLE */
.weather-title {
  display: inline-block;
  font-size: 21px;
  font-weight: 400;
}
.weather-title-block .wi {
  font-size: 27px;
  font-weight: 400;
}
/* WEATHER CONTENT */
.weather-content-block {
  padding: 40px 0;
}
.weather-content-block-list {
  font-size: 0;
  border: 2px solid var(--white);
  background-color: var(--white);
  cursor: pointer;
}
/* WIDTH */
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.weather-content-block-item {
  padding: 25px;
  font-size: 22px;
  display: inline-block;
  border: 2px solid var(--white);
  text-align: center;
  transition: all 0.1s ease-in;
}
.weather-content-block-item:nth-child(1) {
  background-color: var(--blue);
}
.weather-content-block-item:nth-child(2) {
  background-color: var(--purple);
}
.weather-content-block-item:nth-child(3) {
  background-color: #996699;
}
.weather-content-block-item:nth-child(4) {
  background-color: #c24747;
}
.weather-content-block-item:nth-child(5) {
  background-color: #e2674a;
}
.weather-content-block-item:nth-child(6) {
  background-color: #ffcc66;
}
.weather-content-block-item:nth-child(7) {
  background-color: #99cc99;
}
.weather-content-block-item:nth-child(8) {
  background-color: #669999;
}
.weather-content-block-item:nth-child(9) {
  background-color: #cc6699;
}
.weather-content-block-item:nth-child(10) {
  background-color: #339966;
}
.weather-content-block-item:nth-child(11) {
  background-color: #666699;
}

.weather-content-block-list:hover .weather-content-block-item {
  opacity: 0.6;
}
.weather-content-block-list .weather-content-block-item:hover {
  opacity: 1;
}
.weather-content-block-item .wi {
  font-size: 42px;
}
.weather-content-block-title {
  margin-bottom: 20px;
  font-weight: 400;
}
.weather-content-block-description {
  line-height: 42px;
  vertical-align: top;
}
.weather-content-block-description::after {
  content: "°C";
  display: inline-block;
  padding: 0 5px;
}
/* WEATHER DESCRIPTION */
.weather-description {
  font-size: 16px;
  margin-bottom: 100px;
}
/* TO MAIN */
.go-home-btn {
  position: fixed;
  top: 10px;
  left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border: 3px solid;
  line-height: 50px;
  color: var(--white);
  text-decoration: none;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.6;
}
.go-home-btn:before {
  content: "\1F3E0";
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
}
.go-home-btn:hover {
  opacity: 1;
}