mixin footer()
  footer.footer
    .wrapper.footer__wrapper
      .footer__content
        .footer__info
          span.footer__title Need a project?
          a.footer__phone (239) 555-0108
          a.footer__email tanya.hill@example.com
        .footer__social
          a.footer__social-link(href="#")
            .footer__social-media
              img.footer__social-image(src="./assets/images/instagram-icon.png", alt="")
          a.footer__social-link(href="#")
            .footer__social-media
              img.footer__social-image(src="./assets/images/facebook-icon.png", alt="")
      .footer__copyright
        span © Copyright Manifest Theme. <br />Allrights reserved