mixin header()
  header.header
    .wrapper.header__wrapper
      +logo
      .header__navigation
        .header__menu#js-header-menu
          +menu
        .header__search
          +search
        .header__burger
          +burger
    +banner